/* styles Forms*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 20px;
  background-color: #f0f2f5;
}

form {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: #333333;
}

form h5 {
  text-align: center;
  margin-bottom: 20px;
  color: #555555;
}

form div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

form div label {
  width: 120px;
  margin-right: 15px;
  font-weight: bold;
  color: #555555;
  text-align: right;
}

form div input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

form div input:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button-show {
  background-color: #28a745; /* Verde para "Show" */
  color: #ffffff;
  height: 2rem;
  margin-left: 10px;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(57, 65, 74, 0.5);
}

.button-hide {
  background-color: #dc3545; /* Rojo para "Hide" */
  color: #ffffff;
  height: 2rem;
  margin-left: 10px;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(57, 65, 74, 0.5);
}

.button-show:hover,
.button-hide:hover {
  opacity: 0.8;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  padding: 12px 40px;
  font-size: 16px;
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #0056b3;
}


/* style to modals*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:rgb(0, 0, 0, 0.5);
  display: 	flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.notificatt-success {
  background-color: #efd6bd;
  color: #cc8259;
  padding: 2rem;
  border: 1px solid #cc8259;
  border-radius: 0.5rem;
  max-width: 500px;
  width: 90%;
  text-align: center;
  position: relative;
}

.close-btn-success {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  color: #7e4f1a;
  font-size: 1.5rem;
  cursor: pointer;
}

.linkLogout{
  color: blue;
  margin-left: 10px;
}

/* style del land*/

hr{
  height: 3px;
  border: none;
  background-color: #28a745;
}

.LandingPage-header{
  background-color: #28a745;
  color: white;
  margin: 1rem 3rem;
  border-radius: 1rem;
  padding: 10px;
}

.LandingPage-body{
  text-align: left;
  margin: 0 3rem;
}

.LandingPage-body h2{
  margin-bottom: 1px;
}

.LandingPage-container{
  display: flex;
}

.LandingPage-container div{
  margin: 0 10px;
}

.LandingPage-footer{
  margin-top: 3rem;
}